<!-- templates/casterm_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Casterm</title>
</head>
<body>
    <h1>Add Casterm</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        {{form.name}}<br>
        <label for="role">Role:</label>
        {{form.role}}<br>
        <label for="gender">Gender:</label>
        {{form.gender}}<br>
        <label for="image">Image:</label>
        {{form.image}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
